extends layout

block content
  <div class="quote">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
 
  main(style="margin-top: 30px;")
      section.result 
        h1.result Domain Search result
      #response
        if response.status == 'registered'
          div
            h2.result 
              span.oops 
                | Oops! 
              | The Domain #{response.domain} is already registered
          .table-responsive
            table.result.container.table.table-condensed
              thead.result
                th Domain Name
                th status
                th ID
                th Created on
                th Expires On
                th Updated On
                th Registrant
                th Owner
              tbody
                tr.result
                  td #{response.domain}
                  td #{response.status}
                  td #{response.domain_id}
                  td #{response.created_on}
                  td #{response.expires_on}
                  td #{response.updated_on}
                  td #{response.registrar.name}
                  td #{response.admin_contacts.name}
        else 
          div
            h2.result 
              em Congratulations #{response.domain} is still up for grabs
            span.register 
              | register 
              a(href="/register") here 
              | to continue or 
              a(href="/login") login 
              | if you have an account with JWS
          .table-responsive
            table.result.container.table.table-condensed
              thead.result
                th Domain Name
                th status
                th ID
                th Created on
                th Expires On
                th Updated On
                th Registrant
                th Owner
              tbody
                tr.result
                  td #{response.domain}
                  td #{response.status}
                  td not available
                  td not available
                  td not available
                  td not available
                  td not available
                  td not available
          
        
          